@media screen and (max-width: $smartphoneWidth)
	#loader
		display none !important
	#navigation
		display none
	.parallax
		position relative
		section
			padding-top 0
	section
		width 90%
	header
		nav
			> a
				display block
			> ul
				display none
	#discover
		padding-top 40px
		min-height 650px
		#mobile-innovation
			margin 60px 0 35px
		blockquote
			em(20px)
			margin 0 0 40px
		#if-you-can-dream-it-we-can-build-it
			width 100%
			margin 0 0 35px
	footer
		position relative