// fonts
$fontsPath = 'fonts/'
$dinMedium = 'DIN-MediumAlternate', 'Arial'
$dinBold = 'DINPRO-BOLD', 'Arial'
$linoThin = 'ltunivers-basicthin-webfont','Arial'
$linoRegular = 'LinotypeUnivers-BasicRegular', 'Arial'
$linoMedium = 'linotypeunivers-basicmedium-webfont','Arial'
$futuraBook = 'ufonts.com_futura-book-bt', 'Arial'

$baseFont = 11px

// colors
$gray-f2 = #f2f2f2
$gray-66 = #666
$gray-99 = #cccccc
$skyblue = #23cefd
$blue = #76bae8

// width
$usefulWidth = 970px
$smartphoneWidth = 550px
