// fonts
$fontsPath = 'fonts/'
$dinMedium = 'DIN-MediumAlternate', 'Arial'
$sacramento = 'sacramento', Arial, sans-serif

$baseFont = 11px

// colors
$gray-f2 = #f2f2f2
$gray-66 = #666
$gray-99 = #cccccc
$skyblue = #23cefd
$blue = #76bae8

// width
$usefulWidth = 970px
$smartphoneWidth = 550px
