@font-face
	fontFace('DIN-MediumAlternate')
@font-face
	fontFace('sacramento')
body
	background white
	min-height 100%
	font-size $baseFont
	color $gray-99
	overflow-x hidden
#wrapper
	padding-top 65px
section
	position relative
	width 100%
	max-width $usefulWidth
	margin 0 auto
	text-align center
.cf
	clear both
.pull-right
	float right
.pull-left
	float left
.text-center
	text-align center
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.btn
	display inline-block
	border-radius 5px
	border none
.btn--skyblue
	background $skyblue
	color white
.btn--medium
	padding 8px 10px 7px
	em(16px)
.btn--big
	padding 10px 55px
	em(24px)
.float-right
	float right
.float-left
	float left
::-webkit-input-placeholder
:-moz-placeholder
::-moz-placeholder
:-ms-input-placeholder
	color white