include ../config/page.jade
include ../mixins/mixins.jade

footer
	section
		a(href="index.html", title="Cligo")
			img(src="#{page.static}img/cligo-footer.png", atl="Cligo")
		nav
			ul
				li
					a(href="nosotros.html") Nosotros
				li
					a(href="trabaja-con-nosotros.html") Trabaja con
						br
						| nosotros
				li
					a(href="terminos-y-condiciones.html") Términos y
						br
						| Condiciones
				li
					a(href="comunidad.html") Únete a la comunidad
						br
						| de repartidores
				li
					a(href="faq.html") FAQ
				li
					a(href="contactanos.html") Contáctanos