include ../config/page.jade
include ../mixins/mixins.jade

header
	section
		h1
			a(href="index.html", title="Logo")
				| Front Kick
		nav.menu
			ul
				li
					a(href="example.html") Example Page
				li
					a(href="contact-us.html") Contáctanos
		.buttons
			a.btn--big.login_popup(data-fancybox-type="iframe", href="login.html",data-menu="1") Login
			a.btn--big.popup(data-fancybox-type="iframe", href="registrate.html") Registrate