include ../config/page.jade
include ../mixins/mixins.jade

header
	section
		h1
			a(href="index.html", title="Cligo")
				img(src="#{page.static}img/cligo.png", atl="Cligo")
		nav.menu
			ul
				li
					a(href="nosotros.html") Nosotros
					.flecha-up
				li
					span | 		
				//- li
				//- 	a(href="trabaja-con-nosotros.html") Trabaja con
				//- 		br
				//- 		| nosotros
				//- li
				//- 	a(href="terminos-y-condiciones.html") Términos y
				//- 		br
				//- 		| Condiciones
				//- li
				//- 	a(href="comunidad.html") Únete a la comunidad
				//- 		br
				//- 		| de repartidores
				//- li
				//- 	a(href="faq.html") FAQ
				li
					a(href="contactanos.html") Contáctanos
					.flecha-up
		.buttons
			a.btn--big.login_popup(data-fancybox-type="iframe", href="login.html",data-menu="1") Login
			a.btn--big.popup(data-fancybox-type="iframe", href="registrate.html") Registrate