frontend/automatization/node_modules/
public/
source/vendor/
source/node_modules/

.*.env
source/.local.env
.idea
nbproject/
/source/storage/framework/compiled.php
.vagrant/
html/

.DS_Store
source/storage
source/bootstrap/cache

*.bak