//- Index page
extends layout/layout.jade
block content
	section.ctn-test
		.flex-center
			h1 Front-kick
			h2 Estructura base Front-End
			p do your code with love
			.love <3
block alpha
	script.
		window.alpha = {
			module : 'cligo',
			controller : 'comunity',
			action: 'index'
		}