opacity()
	opacity arguments
	filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(arguments * 100) + ')')
transition()
	transition arguments
	-webkit-transition arguments
	-moz-transition arguments