- var page = {}
- page.charset = "utf-8"
- page.lang = "es"
- page.url = ""
- page.static = ""
- page.title = "Cligo"
- page.description = ""
- page.keywords = "Keywords"
- page.author = "@paulrrdiaz, @jeanpaul1304, @jonico22"
- page.name = "OSP"
- page.viewport = "width=device-width, initial-scale=1.0"
- page.robots = "index, follow"
- page.favicon = page.static + "img/favicon.ico"
- page.bootstrap = true

- page.og = {}
- page.og.type = "website"
- page.og.image = page.static + "img/logo.png"