@font-face
	font-family: "icons";
	src: url('fonts/icons.eot');
	src: url('fonts/icons.eot?#iefix') format('eot'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.svg#icons') format('svg');

.icon:before
	font-family "icons"
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
	font-style normal
	font-variant normal
	font-weight normal
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration none
	text-transform none


.icon-arrow:before
	content: "\E001"

.icon-email:before
	content: "\E002"

.icon-phone:before
	content: "\E003"

.icon-pin:before
	content: "\E004"

.icon-section-51:before
	content: "\E005"

.icon-section-52:before
	content: "\E006"

.icon-section-53:before
	content: "\E007"

.icon-section-54:before
	content: "\E008"