footer
	position relative
	padding 30px 0
	background $gray-66
	section
		> a
			position absolute
			top -5px
			left 0
		nav
			text-align right
			font-family $dinBold
			text-transform uppercase
			> ul
				> li
					display inline-block
					vertical-align top
					text-align center
					&:last-child
						> a
							padding 0 0 0 35px
					> a
						color #dddddd
						display block
						em(11px)
						padding 0 35px
						min-height 28px
						transition(all .3s linear 0s)
						&:hover
							color $skyblue