#wrapper
	height 95vh
.ctn-test
	height 400px
	display flex
	align-items center
	height 100%
	margin 0 auto
	justify-content center
	h1,h2
		width 100%
		font-family $dinMedium
	h1
		em(55px)
		color #ffe400
		margin 0 0 20px 0
	h2
		em(20px)
		color mediumslateblue
	p
		margin-top 20px
		em(26px)
		font-family $sacramento
		color red
		&.authors
			color #999
			font-family $dinMedium
	.love
		em(40px)
		margin 20px 0
		color red
		font-family $sacramento
	i
		font-size 40px
		color red